.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  margin: 0;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  list-style: none;
}

.link-buttons {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.link-buttons:hover {
  color: #00ff00;
}
.link-buttons.active {
  color: #00ff00;
}
.line {
  display: flex;
  align-items: baseline;
}
.add-todo {
  padding: 10px 0 40px 0;
}
.add-todo input {
  margin-right: 5px;
}
.todo-list {
  width: 50%;
  margin: 0 auto;
  color: lime;
  text-align: start;
  padding: 0 40px;
  height: calc(100vh - 150px);
}
